/*头部*/
/*head部分*/
.head {
    background: url("../images/head_bg.jpg") 0 0 repeat-x;
    height: 21px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 12px;
    padding: 4px 0 5px 19px;
}

.head a {
    text-decoration: none;
    color: black;
}

a.head_left {
    display: inline-block;
    background: url("../images/city_btn_bg.jpg") 0 0 no-repeat;
    width: 42px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    margin-right: 4px;
    color: #999999;
}

.head a:hover.head_left {
    color: #d60d03;
}

.head_join {
    margin-left: 460px;
}

.head_right img {
    margin-right: 6px;
}

.head .head_span1 {
    padding-right: 10px;
}

.head .head_span2 {
    color: #d5d5d5;
    margin: 0 8px 0 7px;
}

/*nav部分*/
.nav {
    width: 941px;
    height: 62px;
    line-height: 62px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
    padding-left: 19px;
}

.nav a {
    float: left;
    text-decoration: none;
    text-align: center;
    color: #333333;
    font-size: 12px;
}

.logo {
    padding: 0 20px;
}

.nav span {
    display: block;
    width: 66px;
    margin-top: 24px;
}

.nav_btn_food {
    background: url("../images/btn_food.jpg") top no-repeat;
}

.nav_btn_nightclub {
    background: url("../images/btn_nightclub.jpg") top no-repeat;
}

.nav_btn_shopping {
    background: url("../images/btn_shopping.jpg") top no-repeat;
}

.nav_btn_culture {
    background: url("../images/btn_culture.jpg") top no-repeat;
}

.nav_btn_relax {
    background: url("../images/btn_relax.jpg") top no-repeat;
}

.nav_btn_space {
    background: url("../images/btn_space.jpg") top no-repeat;
}

.nav_btn_know {
    background: url("../images/btn_know.jpg") top no-repeat;
}

.nav_btn_free {
    background: url("../images/btn_free.jpg") top no-repeat;
}

.nav_btn_forum {
    background: url("../images/btn_forum.jpg") top no-repeat;
}

.nav_btn_club {
    background: url("../images/btn_club.jpg") top no-repeat;
}

.nav a:hover.nav_btn_food {
    background: url("../images/btn_food_hover.jpg") top no-repeat;
}

.nav a:hover.nav_btn_nightclub {
    background: url("../images/btn_nightclub_hover.jpg") top no-repeat;
}

.nav a:hover.nav_btn_shopping {
    background: url("../images/btn_shopping_hover.jpg") top no-repeat;
}

.nav a:hover.nav_btn_culture {
    background: url("../images/btn_culture_hover.jpg") top no-repeat;
}

.nav a:hover.nav_btn_relax {
    background: url("../images/btn_relax_hover.jpg") top no-repeat;
}

.nav a:hover.nav_btn_space {
    background: url("../images/btn_space_hover.jpg") top no-repeat;
}

.nav a:hover.nav_btn_know {
    background: url("../images/btn_know_hover.jpg") top no-repeat;
}

.nav a:hover.nav_btn_free {
    background: url("../images/btn_free_hover.jpg") top no-repeat;
}

.nav a:hover.nav_btn_forum {
    background: url("../images/btn_forum_hover.jpg") top no-repeat;
}

.nav a:hover.nav_btn_club {
    background: url("../images/btn_club_hover.jpg") top no-repeat;
}

/*search 搜索栏*/
.search{
    margin-top: 18px;
    height: 126px;
    background: url("../images/search_bg.jpg") 0 0 no-repeat;
    overflow: hidden;
}

.search_btn{
    margin-left: 227px;
}

.search_btn a{
    display: inline-block;
    color: black;
    font-size: 14px;
    width: 81px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: url("../images/search_btn_bg.jpg") 0 0 no-repeat;
}

.search_btn a:hover{
    background: url("../images/search_btn_hover.jpg") 0 0 no-repeat;
    color: white;
    font-weight: bold;
}

.searchBox{
    height: 65px;
    margin-top: 10px;
}

.searchBox input{
    display: inline-block;
    width: 405px;
    height: 22px;
    border: 0;
    margin-left: 227px;
    background: url("../images/searchBox_bg.jpg") 0 0 no-repeat;
}

.searchBox .searchBox_btn{
    display: inline-block;
    width: 63px;
    height: 25px;
    margin-left: 12px;
    position: relative;
    top: 10px;
    _top:8px;
}

.searchBox span{
    color: white;
}

.searchBox span a{
    color: white;
}

.searchBox_t1{
    position: relative;
    top: -10px;
    left: 10px;
    _top: -10px;
}
.searchBox_t2{
    position: relative;
    top: -10px;
    _top:-10px;
    left: 721px;
}

.update{
    height: 2px;
    margin-left: 227px;
}

.update_t1{
    color: #d30703;
    margin:0 6px 0 10px; 
}

.update_t2{
    color: #999999;
    margin-right: 5px;
}

.update_t3{
    color: black;
    margin-right: 30px;
}

.up_btn{
    position: relative;
    top: -10px;
    left: 10px;
    _left:11px;
}

/*主体*/
.main {
    margin-top: 10px;
    height: 2040px;
    overflow: hidden;
    zoom: 1;
}

.main_left {
    width: 710px;
    height: 2040px;
    float: left;
}

.main_right {
    width: 240px;
    height: 2040px;
    float: right;
}

.main_left1 {
    height: 420px;
    overflow: hidden;
}

.main_left2 {
    margin-top: 10px;
    height: 90px;
}

.main_left3 {
    margin-top: 10px;
    height: 500px;
    overflow: hidden;
}

.main_left4 {
    margin-top: 10px;
    height: 330px;
}

.main_left5 {
    margin-top: 10px;
    height: 90px;
}

.main_left6 {
    margin-top: 10px;
    height: 300px;
}

.main_left7 {
    margin-top: 10px;
    height: 250px;
}

.main_right_turntable {
    margin-top: 10px;
    height: 90px;
}

.main_right_game {
    margin-top: 10px;
    height: 180px;
}

.main_recommend {
    width: 350px;
    height: 500px;
    margin-left: 10px;
    float: left;
}

/*主体左侧 */
/*main_video 视频*/
.main_video {
    float: left;
    width: 318px;
    height: 396px;
    padding: 10px 15px 12px;
}

.main_video_banner span {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #d90000;
    font-size: 14px;
    font-weight: bold;
    margin-right: 7px;
}

.main_video_banner dd {
    float: left;
    display: inline-block;
    height: 25px;
    line-height: 25px;
}

.main_video_banner dt {
    height: 25px;
}

.main_video iframe {
    margin: 8px 0 17px;
}

.main_video img {
    display: inline-block;
}

.main_video dl {
    overflow: hidden;
}

.main_video_footer dt {
    float: left;
    margin-right: 16px;
}

.main_video_footer dd {
    margin-bottom: 9px;
}

.main_video_footer a {
    color: #4d4d4d;
    text-decoration: none;
}

.main_video_footer img {
    margin-right: 2px;
}

/*shop 店铺*/
.main_shop {
    width: 350px;
    margin-left: 10px;
    height: 420px;
    float: left;
}

.shop_main {
    width: 333px;
    height: 369px;
    border: 1px solid #e5e5e5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-style: none;
    padding: 15px 0 0 15px;
    overflow: hidden;
}

.shop_list {
    margin-top: 10px;
}

.shop_list dd {
    display: inline-block;
    color: #6e6e6e;
    padding-left: 21px;
    padding-bottom: 3px;
}

dd.shop_list_title {
    padding-top: 7px;
    padding-bottom: 8px;
    color: #bb0d0d;
}

.shop_food img {
    float: left;
}

a.shop_food {
    display: inline-block;
    width: 318px;
    height: 110px;
    background: url("../images/hot_bg.jpg") 0 0 no-repeat;
    margin-bottom: 6px;
}

.shop_main .more {
    margin-right: 15px;
}

/*yoday 每日活动*/
.main_yoday {
    width: 350px;
    height: 500px;
    float: left;
}

.main_yoday_head{
    height: 74px;
    background: url("../images/yoday_head_bg.jpg") 0 0 no-repeat;
}

.yoday_head_t1{
    color: #d80000;
    margin-top:10px;
    font-weight: bold;
    font-family: Arial;
}

.main_yoday_head dt{
    display: inline;
    float: left;
    margin-left: 27px;
    margin-top: 20px;
}

.main_yoday_head dd{
    display: inline-block;
    font-size: 36px;
    font-family: Arial;
    color: #d80000;
    margin-left: 9px;
    margin-top: 20px;
}
.yoday_main{
    width: 348px;
    height: 425px;
    border: 1px solid #e5e5e5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-style: none;
}

.yoday_photo{
    overflow: hidden;
    width: 348px;
    height: 100px;
}

.yoday_photo dt{
    display: inline;
    float: left;
    margin-left: 22px;
    margin-top: 14px;
}

.yoday_photo dd{
    display: inline-block;
    padding-left: 22px;
    color: #999999;
    margin-bottom: 4px;
}

dd.yoday_photo_dd1{
     margin-top: 14px;
     color: #333333;
}

.yoday_photo span.day{
    margin-left: 3px;
    margin-right: 7px;
}

.yoday_photo dd span{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #d21913;
    font-weight: bold;
    background: url("../images/day_bg.jpg") 0 0 no-repeat;
}

.yoday_table{
    height: 325px;
}

.yoday_table table{
    text-align: center;
    margin-top: 10px;
    margin-left: 23px;
    position: relative;
    /*z-index: 2;*/
}

.yoday_table th{
    width: 40px;
    height: 34px;
    background: url("../images/yoday_table_bg.jpg") 0 0 repeat-x;
}

td.yoday_photo1 a:hover{
    background: url("../images/yoday_photo1_min.jpg") 0 0 no-repeat;
}

td.yoday_photo2 a:hover{
    background: url("../images/yoday_photo2_min.jpg") 0 0 no-repeat;
}

td.yoday_photo2 a:hover ul.photo_none{
    display: block;
    filter:alpha(opacity=100);
}
    

.yoday_table td a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #666666;
    background-color: #ededed;
}

.yoday_photo2 ul.photo_none{
    position: absolute;
    top: 130px;
    left: 208px;
    width: 305px;
    height: 97px;
    background: url("../images/hover_bg.png") 0 0 no-repeat;
    padding-left: 23px;
    padding-top: 11px;
    display: none;

    overflow: hidden;
    zoom: 1;
    /*z-index: 2;*/
}

.yoday_photo2 dt{
    float: left;
}
.yoday_photo2 dt img{
    display: inline-block;
    border: 2px solid #dbdbdb;
}

.yoday_photo2 dd{
    text-align: left;
    height: 15px;
    line-height: 15px;
    padding-left: 90px;
    _padding-left: 3px;
    color: #999999;
    margin-bottom: 2px;
}

dd.photo_none_dd1{
    margin-top: 4px;
    color: #333333;
    margin-bottom: 10px;

}

dd.photo_none_dd1 em{
    color: #cccccc;
    font-size: 16px;
    margin-right: 4px;
}

td.virtual a{
    background-color: #f8f8f8;
    color: #cccccc;
}


/*recommended 精彩推荐*/
.main_recommend {
    width: 348px;
    height: 498px;
    margin-left: 10px;
    float: left;
}

.main_recommend_head{
    overflow: hidden;
    zoom: 1;
    height: 70px;
}

.main_recommend_head dt{
    display: inline;
    float: left;
    margin-left: 27px;
    margin-top: 20px;
}

.main_recommend_head img{
    margin-top: 11px;
}

.recommend_head_t1{
    color: #d80000;
    margin-top:10px;
    font-weight: bold;
    font-family: Arial;
}

.recommend_head_t2{
    color: #333333;
    font-size: 22px;
}

.recommend_main{
    height: 428px;
    width: 318px;
    padding-left:15px;
    padding-right:15px;
}

.recommend_photo{
    width: 294px;
    height: 156px;
    background-color: #f8f8f8;
    padding: 12px;
    border-radius: 4px;
    overflow: hidden;
}

.recommend_photo_max{
    display: inline-block;
    float: left;
    width: 223px;
    height: 156px;
}

.recommend_photo_max a{
    display: inline-block;
    width: 225px;
    height: 135px; 
}

.recommend_photo_max img{
    border: 1px solid white;
}

.recommend_photo_max img.photo1_max{
    position: absolute;
    display: none;
    z-index: 1;
}

.recommend_photo_max img.photo2_max{
    position: relative;
    display: none;
    z-index: 2;

}

.recommend_photo_max img.photo3_max{
    position: relative;
    top: -137px;
    display: none;
    z-index: 2;
}

.recommend_photo_min{
    float: right;
}

.recommend_photo_min a{
    display: inline-block;
    width: 50px;
    height: 30px;
    padding: 3px;
    background-color: white;
    text-align: center;
    margin-bottom: 13px;
}

.recommend_photo_min a:hover{
    background-color: #d6191d;
}

a.photo1_min:hover img.photo1_max{
    display: block;
}
a.photo2_min:hover img.photo2_max{
    display: block;
}
a.photo3_min:hover img.photo3_max{
    display: block;
}

.recommend_list{
    margin-top: 15px;
}

.recommend_list span{
    display: inline-block;
    text-align: center;
    height: 26px;
    line-height: 26px;
}

.recommend_list em{
    display: inline-block;
    margin:0 4px 0 6px;
    color: #dfdfdf;
}

.recommend_list var{
    color: #454545;
}

.recommend_list .a1{
    width: 77%;
    text-align: left;
    margin-left: 8px;
}

.recommend_list .a2{
    width: 20%;
    position: relative;
    color: #999999;
}


/*subway 地铁交通*/
.main_subway {
    width: 350px;
    height: 330px;
    float: left;
}

.subway_btn {
    width: 350px;
    height: 35px;
    font-weight: bold;
}

a.subway_btn_link {
    display: inline-block;
    width: 175px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: url("../images/subway_btn.jpg") 0 0 no-repeat;
}

span.subway_btn_text1 {
    color: #cc0d13;
    margin-right: 5px;
}

span.subway_btn_text2 {
    color: #2b2d2d;
}

span.map_btn_text1 {
    margin-right: 5px;
    color: #666666;
}

a.map_btn_link {
    display: inline-block;
    width: 175px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #2b2d2d;
    background: url("../images/map_btn.jpg") 0 0 no-repeat;
}

a:hover.map_btn_link {
    background: url("../images/map_btn_hover.jpg") 0 0 no-repeat;
}

a:hover span.map_btn_text1 {
    color: #cc0d13;
}

.subway_line {
    width: 348px;
    height: 294px;
    border: 1px solid #e5e5e5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-style: none;
}

.subway_line img {
    margin-top: 30px;
    margin-left: 23px;
}

.subway_line a {
    width: 53px;
    height: 23px;
    line-height: 23px;
    color: #333333;
    margin-top: 22px;
    margin-right: 5px;
    text-align: center;
    background: url("../images/subway_lineBtn_bg.jpg") 0 0 repeat-x;
}

a.subway_line_1 {
    display: inline-block;
    margin-left: 24px;
    border-radius: 4px;
    border: 2px solid #de0602;
}

span.number_1 {
    color: #de0602;
    font-weight: bold;
}

a:hover.subway_line_1 {
    background: #de0602;
}

a:hover.subway_line_1 span {
    color: white;
}

a.subway_line_2 {
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #003399;
}

span.number_2 {
    color: #003399;
    font-weight: bold;
}

a:hover.subway_line_2 {
    background: #003399;
}

a:hover.subway_line_2 span {
    color: white;
}

a.subway_line_13 {
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #ff9900;
    background: #ff9900;
}

.subway_line_13 span {
    color: white;
}

span.number_13 {
    font-weight: bold;
}

a.subway_line_8 {
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #dc0000;
}

span.number_8 {
    color: #dc0000;
    font-weight: bold;
}

a:hover.subway_line_8 {
    background: #dc0000;
}

a:hover.subway_line_8 span {
    color: white;
}

a.subway_line_5 {
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #903077;
}

span.number_5 {
    color: #903077;
    font-weight: bold;
}

a:hover.subway_line_5 {
    background: #903077;
}

a:hover.subway_line_5 span {
    color: white;
}

/*bbs 论坛*/
.main_bbs {
    width: 348px;
    height: 328px;
    margin-left: 10px;
    float: left;
}

.main_bbs_text a {
    display: inline-block;
    width: 318px;
    height: 30px;
    line-height: 30px;
    margin: 0 15px 3px;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.main_bbs_text a:hover {
    background: url("../images/bbs_hover_bg.jpg") 0 0 no-repeat;
    height: 70px;
}

.main_bbs_text a:hover strong, .main_bbs_text a:hover em, .main_bbs_text a:hover span {
    display: none;
}

.main_bbs_text strong {
    color: #d80000;
    margin-left: 9px;
}

.main_bbs_text span {
    color: #333333;
    margin: 0 85px 0 21px;
}

.main_bbs_text em {
    color: #666666;
}

/*know 知道分子*/
.main_know {
    width: 348px;
    height: 298px;
    float: left;
}

.know_btn {
    padding: 0 15px;
}

a.know_btn1_link {
    display: inline-block;
    width: 109px;
    height: 26px;
    line-height: 26px;
    color: #333333;
    font-weight: bold;
    background: url("../images/know_btn1_bg.jpg") 0 0 no-repeat;
}

a.know_btn2_link {
    display: inline-block;
    width: 100px;
    height: 26px;
    line-height: 26px;
    color: #666666;
    background: url("../images/know_btn2_bg.jpg") 0 0 no-repeat;
}

.know_btn span.know_btn1_text {
    margin-left: 33px;
}

.know_btn span.know_btn2_text {
    margin-left: 24px;
}

.know_btn span.know_btn3_text {
    margin-left: 27px;
}

a.know_btn3_link {
    display: inline-block;
    width: 109px;
    height: 26px;
    line-height: 26px;
    color: #666666;
    background: url("../images/know_btn3_bg.jpg") 0 0 no-repeat;
}

a:hover.know_btn2_link {
    background: url("../images/know_btn2_hover.jpg") 0 0 no-repeat;
    color: #333333;
    font-weight: bold;
}

a:hover.know_btn3_link {
    background: url("../images/know_btn2_hover.jpg") 0 0 no-repeat;
    color: #333333;
    font-weight: bold;
}

.know_main{
    width: 348px;
    height: 230px;
}

.know_main span {
    display: inline-block;
    text-align: center;
    color: #454545;
    font-size: 12px;
    overflow: hidden; /* 超出隐藏 */
    white-space: nowrap; /* 强制不换行 */
    background: url("../images/list_bg.jpg") 0 bottom repeat-x;
}

.know_main .no{
    text-align: left;
}

.know_main_title{
    color: #999999;
}
.know_main li {
    height: 26px;
    line-height: 26px;
    padding-left: 17px;
    padding-right: 18px;
}

.s1{
    width: 83%;
}

.s2 {
    width: 17%;
    position: relative;
    /*hack*/
    _top: 6px;
}

.list_top{
    position: relative;
    _top: 0px;
}

.know_bracket1{
    background: url("../images/help_point.jpg") left 4px no-repeat;
    padding-left: 10px;
}

.know_bracket1,.know_bracket2{
    color: #767676;
}

.know_text1{
    color: #c75d61;
}

.know_search{
    margin-top: 16px;
    margin-left: 27px;
}

.know_search input{
    width: 182px;
}

.know_search img{
    position: relative;
    top: 7px;
    left: 9px;
}

.know_search var{
    position: relative;
    _top:-3px;
}

.know_search a{
    display: inline-block;
    width: 24px;
    height: 23px;
}

/*hot 红人烧客*/
.main_hot {
    width: 348px;
    height: 298px;
    margin-left: 10px;
    float: left;
}

.main_hot_men{
    padding-left: 14px;
    width: 334px;
    height: 256px;
}

.main_hot_men a {
    display: inline-block;
    height: 78px;
    text-align: center;
}

/*help 在线帮助*/
.main_help {
    width: 348px;
    height: 248px;
    float: left;
}

.main_help_text {
    margin-top: 2px;
    margin-left: 20px;
}

.main_help_text1 {
    margin-bottom: 5px;
}

.main_help_text a {
    display: inline-block;
    margin-top: 14px;
}

.main_help_web {
    margin-left: 43px;
}

.helps {
    margin-top: 10px;
    color: black;
    overflow: hidden;
}

.helps a {
    padding-top: 3px;
    padding-left: 8px;
}

.help_user a {
    display: block;
    background: url("../images/help_point.jpg") left 8px no-repeat;
    color: #292929;
}

.help_merchant a {
    color: #292929;
    display: block;
    background: url("../images/help_point.jpg") left 8px no-repeat;
}

.help_user {
    float: left;
    padding-left: 30px;
}

.help_user span, .help_merchant span {
    font-weight: bold;
}

.help_merchant {
    float: right;
    padding-right: 42px;
}

/*媒体声音 media*/
.main_media {
    width: 348px;
    height: 248px;
    float: left;
    color: #292929;
}

.main_media dl {
    margin-left: 15px;
}

.main_media2 dd, .main_media3 dd, .main_media4 dd {
    height: 31px;
    line-height: 31px;
}

.main_media1, .main_media2, .main_media3, .main_media4 {
    overflow: hidden;
    margin-bottom: 13px;
}

.main_media1 dt, .main_media2 dt, .main_media3 dt, .main_media4 dt {
    float: left;
    margin-right: 10px;
}

.main_media1 {
    margin-top: 17px;
}

.dd1 {
    margin-bottom: 8px;
}

/*主体右侧 */
/*load 登陆*/
.main_load {
    width: 238px;
    height: 138px;
    background: url("../images/load_bg.jpg") 0 0 repeat-x;
}

.load_head {
    height: 20px;
    font-weight: bold;
    margin-top: 14px;
    margin-left: 12px;
}

.load_en {
    color: #cc0d13;
    margin-right: 5px;
}

.load_main form {
    color: #595959;
    text-align: center;

}

.load_main form .password_span1 {
    margin-left: 12px;
}

.load_main form .password_span2 {
    margin-left: 6px;
    margin-right: 5px;
}

.load_main_userName {
    margin-bottom: 7px;
    margin-top: 15px;
}

.load_main_password {
    height: 26px;
    line-height: 26px;
    padding-left: 6px;
}

.remember_text {
    padding-bottom: 2px;
}

.load_main_r {
    margin-left: 7px;
}

.load_main_s {
    display: inline-block;
    background: url("../images/main_login_btn.jpg") 0 0 no-repeat;
    width: 56px;
    height: 26px;
    margin-left: 6px;
}

.load_main a {
    text-decoration: none;
    color: #666666;
}

.load_main .load_newUser img {
    margin: 0 6px 0 30px;
}

.load_main .load_forget img {
    margin: 0 3px 0 41px;
}

/*coupon 抢卷子*/
.coupon {
    width: 238px;
    height: 238px;
}

.coupon_btn {
    padding: 0 12px;
}

a.coupon_btn1_link {
    display: inline-block;
    width: 74px;
    height: 24px;
    line-height: 24px;
    color: #333333;
    background: url("../images/coupon_btn1_hover.jpg") 0 0 no-repeat;
}

a.coupon_btn2_link {
    display: inline-block;
    width: 66px;
    height: 24px;
    line-height: 24px;
    color: #666666;
    background: url("../images/coupon_btn2.jpg") 0 0 no-repeat;
}

.coupon_btn span.coupon_btn1_text {
    margin-left: 24px;
    font-weight: bold;
}

.coupon_btn span.coupon_btn2_text {
    margin-left: 18px;
}

.coupon_btn span.coupon_btn3_text {
    margin-left: 18px;
}

a.coupon_btn3_link {
    display: inline-block;
    width: 74px;
    height: 24px;
    line-height: 24px;
    color: #666666;
    background: url("../images/coupon_btn3.jpg") 0 0 no-repeat;
}

a:hover.coupon_btn2_link {
    background: url("../images/coupon_btn2_hover.jpg") 0 0 no-repeat;
    color: #333333;
    font-weight: bold;
}

a:hover.coupon_btn3_link {
    background: url("../images/coupon_btn3_hover.jpg") 0 0 no-repeat;
    color: #333333;
    font-weight: bold;
}

.coupon_main {
    margin-top: 10px;
}

.coupon_main span {
    display: inline-block;
    text-align: center;
    height: 24px;
    line-height: 24px;
    overflow: hidden; /* 超出隐藏 */
    white-space: nowrap; /* 强制不换行 */
    background: url("../images/list_bg.jpg") 0 bottom repeat-x;
}

.coupon_main_titleLast span {
    background: none;
}

.coupon_main_title span {
    color: #999999;
}

.coupon_main li {
    padding: 0 12px;
}

.v1 a {
    color: #333333;
    background: url("../images/help_point.jpg") left 4px no-repeat;
    padding-left: 10px;
}

.v1 {
    width: 63%;
}

.v2 {
    width: 14%;
    color: #d80000;
    position: relative;
    /*hack*/
    /*_top: 1px;*/
}

.v3 {
    width: 22%;
    color: #999999;
    position: relative;
    /*_top:1px;*/
}

/*today 今日推荐*/
.main_today {
    width: 238px;
    height: 418px;
}

.today_main {
    padding: 1px 12px 12px;
}

/*panorama 全景逛店*/
.main_panorama {
    width: 238px;
    height: 178px;
}

.main_panorama_photo {
    margin-left: 12px;
}

a.main_panorama_text {
    display: inline-block;
    margin-left: 13px;
    margin-top: 3px;
    text-decoration: none;
    color: #333333;
}

/*shop 折扣店*/
.main_discount {
    width: 238px;
    height: 348px;

}

.discount_main {
    padding: 0 12px;
}

.discount_list {
    display: inline-block;
    color: #333333;
    width: 214px;
    height: 27px;
    line-height: 27px;
    background: url("../images/list_bg.jpg") 0 bottom repeat-x;
}

a.no_bg {
    background: none;
}

.discount_bracket1 {
    background: url("../images/help_point.jpg") left 4px no-repeat;
    margin-left: 7px;
    padding-left: 7px;
    color: #c3c3c3;
}

.discount_bracket2 {
    color: #c3c3c3;
    padding-right: 8px;
}

.discount_ta {
    color: #c75d61;
}

/*coupons 最新加盟*/
.coupons {
    width: 238px;
    height: 368px;
}

.coupons_main {
    padding: 0 12px;
}

.coupons_main_photo {
    width: 214px;
    background: url("../images/list_bg.jpg") 0 bottom repeat-x;
    padding-bottom: 2px;
}

.coupons_main_photo a {
    display: inline-block;

}

.coupons_main_photo a img {
    border: 1px solid #dadada;
}

.coupons_main_photo a span {
    display: block;
}

.coupons_main_photo a em {
    color: #666666;
}

.coupons_text1 {
    padding: 5px 0 5px;
    color: #b80000;
}

.coupons_text2 {
    color: #999999;
    padding-bottom: 5px;
}

a.coupons_main_pizza {
    display: inline-block;
    padding-left: 12px;
}

/*脚部*/
.footer {
    text-align: center;
    background: #f9f9f9;
    height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 21px;
    margin-top: 10px;
}

.footer a {
    text-decoration: none;
    color: #454545;
}

.footer span {
    color: #454545;
    margin: 0 11px;
}

.footer b {
    display: block;
    margin-top: 13px;
    color: #767676;
}